<div class="modal-fg">
  <h1> Log In! </h1>
  <form action="<%= session_url %>" method="post">
    <%= auth %>
    <label>Username</label>
      <input class="form-control" type="text" name="user[username]" value="<%=@user.username%>">

    <label>Password</label>
      <input class="form-control" type="password" name="user[password]">

      <input class="btn btn-primary pull-right" type="submit" value="Log in!">
  </form>
  <div class="entry-footer">
    Not awesome yet? <%= link_to("Sign up!", new_user_url)  %>
  </div>
<div>
