// New stuff

.projects-list {
  border: 3px solid yellow;
}

.projects-list-item {
  border: 3px solid green;
  padding: 5px;
}

.project-pane {
  border: 1px solid grey;
  margin: 0 2px 2px 4px;
  float: left
}

.project-pane-header {
  background-color: grey;
  height: 20px;
}

.project-form {
  margin: 25% auto;
  padding: 5px;
  max-width: 720px;
  background-color: goldenrod;
  border-radius: 5px;
}

.project-form-input {
  width: 100%;
}

.project-form-input.title {
  font-size: 16px;
  border-bottom: 1px solid blue;
  border-bottom: 1px solid blue;
  margin-bottom: 5px;
}

.project-form-input.detail {
  font-size: 12px;
  resize: none;
}
