.projects-list {
  max-height: 300px;
  height: calc(100% - 40px;); // TODO: Make this more accurate
  overflow-y: auto;
}

.projects-list-item {
  height: 30px;
  position: relative;
}

.projects-list-item:hover {
  cursor: pointer;
  background-color: #555755;
}

.projects-list-item:hover .projects-list-item-title {
  padding-left: 10px;
}

.projects-list-item-title {
  float: left;
  margin: 0;
  padding: 5px 5px 5px 15px;
  width: calc(100% - 30px);
}

.project-pane {
  min-width: 200px;
  flex-grow: 1;
  border: 1px solid grey;
  margin: 0 2px 2px 4px;
}

.project-pane-header {
  position: relative;
  background-color: grey;
  height: 30px;
}

.project-pane-header.title {
  float: left;
  height: 30px;
  padding: 5px;
  width: calc(100% - 60px);
  text-align: center;
}

.project-form {
  padding: 5px;
  max-width: 720px;
  background-color: goldenrod;
  border-radius: 5px;
}

.project-form.delete {
  background-color: lightpink;
  text-align: center;
}

.project-form-input {
  width: 100%;
}

.project-form-input.title {
  font-size: 16px;
  border-bottom: 1px solid blue;
  border-bottom: 1px solid blue;
  margin-bottom: 5px;
}

.project-form-input.detail {
  font-size: 12px;
  resize: none;
}
