.tasks-list-item {
  padding: 5px 5px 5px 15px;
  background-color: #555755;
  width: 100%;
  border: 2px solid goldenrod;
  border-style: outset;
}

.tasks-list-item:hover {
  cursor: pointer;
  padding-left: 10px;
}

.task-detail {
  padding: 5px 5px 5px 15px;
  background-color: #555755;
  width: 100%;
  border: 2px solid goldenrod;
  border-style: outset;
}
