.tasks-list-item {
  padding: 5px 5px 5px 15px;
  background-color: #555755;
  width: 100%;
  border: 2px solid goldenrod;
  border-style: outset;
}

.tasks-list-item:hover {
  cursor: pointer;
  padding-left: 10px;
}

.task-detail {
  padding: 5px;
  background-color: #555755;
  width: 100%;
  border: 2px solid red;
  border-style: outset;
}

.task-detail-input {
  width: 100%;
  background: rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

.task-detail-input {
  outline: 0;
}

.task-detail-input.description {
  resize: none;
}
