<h1> Sign Up! </h1>

Already awesome? <%= link_to("Log in!", new_session_url)  %>

<form action="<%= users_url %>" method="post">
  <%= auth %>
  <label>Username</label>
    <input type="text" name="user[username]" value="<%=@user.username%>">

  <label>Password</label>
    <input type="password" name="user[password]" id="Password" value="">

    <input type="submit" value="Sign up!">
</form>
