@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'api/projects';

.compressed {
  max-width: 720px;
  margin: 0 auto;
}

.shift-down {
  padding-top: 30px;
}

.group:after {
  content: " ";
  display: block;
  clear: both;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-div {
  position: fixed;
  height: 40px;
  width: 100%;
  border: 3px solid red;
}

.workspace {
  border: 3px solid magenta;
}

.sidebar {
  height: 100%;
  border: 3px solid orange;
}

.projects-list {
  border: 3px solid yellow;
}

.projects-list-item {
  border: 3px solid green;
  padding: 5px;
}

.pane-area {
  border: 3px solid blue;
}

.project-pane {
  border: 3px solid goldenrod;
}

.project-pane-header {

}
