@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'modals';
@import 'api/projects';
@import 'api/tasks';

html, body, #content {
  height: 100%;
}

.navbar-div {
  height: 39px;
  width: 100%;
  background-color: #454751;
  border-bottom: 1px solid black;
}

.workspace {
  background-color: #303236;
  height: calc(100% - 40px);
}

.sidebar {
  float: left;
  background-color: #454745;
  width: 125px;
}

.pane-area {
  float: right;
  width: calc(100% - 125px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 2px;
  overflow-x: auto;
}

// css util classes

.group:after {
  content: " ";
  display: block;
  clear: both;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tall {
  height: 100%;
}

// .nopadding {
//    padding: 0 !important;
//    margin: 0 !important;
// }

.shadowed {
  box-shadow: 1px 1px 3px black;
}

// Scrollbars

::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}
