@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'entry-page';
@import 'modals';
@import 'navbar';
@import 'api/projects';
@import 'api/tasks';
@import 'api/todos';

html, body, #content {
  height: 100%;
}

.workspace {
  background-color: rgb(28, 30, 36);
  height: calc(100% - 40px);
  min-width: 500px;
}

.sidebar {
  float: left;
  width: 175px;
  padding: 5px;
  background-color: rgb(48, 50, 56);
  color: rgb(150, 155, 160);
}

.pane-area {
  float: right;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: calc(100% - 175px);
  padding-right: 2px;
  overflow-x: auto;
}

.option {
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.option.left {
  float: left;
}

.option.right {
  float: right;
  text-align: right;
}

// CSS Util classes

div.icon {
  float: left;
  height: 30px;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.full-height {
  height: 100%;
}

.group:after {
  content: " ";
  display: block;
  clear: both;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadowed {
  box-shadow: 1px 1px 3px black;
}

.padded-text {
  padding: 5px;
}

.hover-option {
  opacity: 0;
}

.hover-options:hover .hover-option {
  opacity: 1;
}

// Scrollbars

::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}
